
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans','Helvet'
    sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing : grayscale;


}
p {
    font-size: 1.6rem;

}

h1 {
    font-size: 5rem;
}

.app {
    width: 100%;
    height: 100vh;
    position : relative;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;

}

.app::before{
    content: "";
    background: url('./assets/wallpare.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.app .search {
    text-align: center;
    padding: 1rem;
}

.app input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255, 255,  255, 0.8);
    background: rgba(255, 255, 255, 0.1);

}
::placeholder {
    color: #f8f8f8
}

.container {
    max-width:  700px;

    height: 700px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app .top {
    width: 100%;
    margin: 1rem auto;
}

.app .description {
    position: relative;
    right: -90%;
    margin-bottom: -50px;

}


.app .botton{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(225,255,255, 0.2);
}

.bold{
    font-weight: 700;
}
.bottom {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* margin: 10px; */
    margin-left: -370px;
  }
  
  .weather-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
  }
  .bottom {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* align-items: flex-start; */
    gap: 10px; /* Space between cards */
    padding: 10px;
    margin-top: -40px;
  }
  
  .weather-card {
    border: 1px solid #ddd;
    padding: 20px;
    width: 180px;
    color: white;
    height: 290px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(255, 217, 0, 0.199);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    /* margin-top: -150px; */
    box-shadow: 0 4px 8px rgba(255, 215, 0, 0.5); /* Gold box-shadow */
    margin-bottom: 100px;
  }
  
  
  .weather-card p {
    margin: 10px 0;
  }
  